/* MEDIA QUERIES */
@media (max-width: 1200px) {
  .bento-grid {
    grid-template-columns: repeat(12, 1fr);
    width: 98%;
  }

  /* Order: box-1, box-4, box-2, box-6, box-9, box-7, box-5, box-8 */
  .box-1 {
    grid-row: 1;
    min-height: 250px;
    grid-column: 1 / 13;
  }
  .box-4 {
    grid-row: 2;
    min-height: 250px;
    grid-column: 5 / 13;
  }

  .box-3 {
    grid-row: 2;
    grid-column: 1 / 5;
  }

  .box-2 {
    grid-row: 3;
    min-height: 350px;
    grid-column: 1 / 7;
  }

  .box-6 {
    grid-row: 3;
    min-height: 350px;
    grid-column: 7 / 13;
  }

  .box-9 {
    grid-row: 5;
    min-height: 250px;
    grid-column: 1 /13;
  }

  .box-9-holder {
    height: 0;
    min-height: 0;
    gap: 24px;
  }

  .box-7 {
    grid-row: 6;
    min-height: 90px;
    grid-column: 6 /9;
  }

  .box-5 {
    grid-row: 6;
    min-height: 200px;
    grid-column: 1 / 6;
  }

  .box-5-text-holder {
    gap: 24px;
  }

  .box-8 {
    grid-row: 6;
    min-height: 140px;
    grid-column: 9 / 13;
  }

  .box-1-text-holder {
    gap: 24px;
  }

  .box-1-title {
    font-size: 46px;
  }

  .box-1-text {
    font-size: 28px;
  }

  .stack-icons {
    grid-template-columns: repeat(8, 1fr);
    gap: 12px;
  }

  .socials-holder {
    width: 100%;
    height: 110px;
  }
}

@media screen and (max-width: 1000px) {
  .box-1-title {
    font-size: 42px;
  }

  .box-1-text {
    font-size: 24px;
  }

  .box-4-text {
    font-size: 24px;
  }
}

@media screen and (max-width: 800px) {
  .box-2 {
    grid-row: 3;
    grid-column: 1 / 13;
  }

  .box-3 {
    display: none;
  }

  .box-4 {
    grid-column: 1 / 13;
  }

  .box-5 {
    grid-column: 1 / 9;
  }

  .box-6 {
    grid-row: 4;
    grid-column: 1 / 13;
  }

  .box-7 {
    grid-column: 9 / 13;
  }

  .box-8 {
    grid-row: 7;
    grid-column: 1 / 13;
    min-height: 0;
  }

  .box-8-soacila-medias {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .stack-icons {
    grid-template-columns: repeat(6, 1fr);
  }

  .box-5 {
    grid-column: 1 / 13;
  }

  .box-7 {
    grid-row: 7;
    grid-column: 1 / 13;
  }

  .box-8 {
    grid-row: 8;
  }

  .socials-holder {
    height: 80px;
  }

  .box-8-soacila-medias {
    gap: 8px;
  }

  .box-1-title {
    font-size: 32px;
  }

  .box-1-text {
    font-size: 20px;
  }

  .box-4-text {
    font-size: 20px;
  }
  .box-1,
  .box-2,
  .box-4,
  .box-6,
  .box-9 {
    padding: 20px;
    min-height: 0;
    height: 235px;
  }
}

@media screen and (max-width: 500px) {
  .stack-icons {
    grid-template-columns: repeat(4, 1fr);
  }
}
