/* MEDIA QUERIES */
@media screen and (max-width: 1100px) {
  .container {
    width: 95%;
  }

  .about-section-image {
    max-width: 300px;
  }

  .about-section-text-holder {
    max-width: 550px;
  }

  .about-section-text {
    font-size: 17px;
  }
}

@media screen and (max-width: 900px) {
  .about-section-image {
    max-width: 250px;
  }

  .about-section-text-holder {
    max-width: 500px;
  }

  .about-section-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 850px) {
  .logo {
    font-size: 18px;
  }

  .main-nav-link {
    font-size: 18px;
  }

  .nav-cta {
    max-width: 110px;
  }

  .hero-section-main-heading {
    font-size: 55px;
  }

  .form {
    width: 95%;
  }

  .about-section-paragraph-holder {
    flex-direction: column;
    gap: 20px;
  }

  .about-section-text-holder {
    max-width: 650px;
    text-align: center;
  }

  .about-section-text {
    line-height: 1.7;
    font-size: 17px;
  }
}

@media screen and (max-width: 650px) {
  .sections {
    padding: 50px 0px;
  }

  .logo {
    font-size: 22px;
  }

  /* MOBILE NAV */
  .menu-toggle {
    display: flex;
  }

  .main-nav {
    /*display: none;*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 650px;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 250, 255, 0.95);
    z-index: 999;
    transform: translateX(100%);
    transition: all 0.5s ease-in;
  }

  .main-nav.active {
    transform: translateX(0);
  }

  .menu-toggle.open .bar:nth-child(1) {
    transform: translatey(15px) rotate(45deg);
  }

  .menu-toggle.open .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.open .bar:nth-child(3) {
    transform: translatey(1px) rotate(-45deg);
  }

  .main-nav,
  .main-nav-list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main-nav-link {
    font-size: 30px;
  }

  .nav-cta {
    max-width: 150px;
    width: 100%;
  }

  .nav-cta:hover a {
    color: #fffaff;
    z-index: 1;
    position: relative;
  }

  .nav-cta::before {
    z-index: 1;
  }

  /*********/

  .hero-section {
    padding: 30px 0px;
  }

  .input-holder {
    flex-direction: column;
    gap: 15px;
  }

  .form {
    width: 100%;
    gap: 15px;
  }

  .submit-holder {
    margin-top: 10px;
  }
}

@media screen and (max-width: 450px) {
  .hero-section-main-heading {
    font-size: 39px;
  }

  .hero-section-heading {
    font-size: 30px;
  }

  .hero-section-paragraph {
    font-size: 18px;
  }

  .hero-section-icon {
    width: 24px;
    height: 24;
  }

  .footer-section {
    padding-bottom: 25px;
  }

  .footer-holder {
    justify-content: center;
  }
}
